<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = ' BIBLIOPHILES TUNISIENS')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: navigation}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">
    <div class="row">
        <!-- links -->
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Liste des livres en ligne</li>
                </ol>
            </nav>
            <div class="row link" th:each="link : ${links}">


            <div class="col-1">
                <div><a href="#" class="upvote" th:data-id="${link.id}"><i class="fas fa-arrow-up"></i></a></div>
                <div><span th:id="|votecount-${link.id}|" class="votecount" th:text="${link.getVoteCount()}">0</span></div>
                <div><a href="#" class="downvote" th:data-id="${link.id}" th:disabled="true"><i class="fas fa-arrow-down"></i></a></div>
            </div>
            <div class="col-11">
                <p class="title">
                    <a class="title " th:href="@{'/link/' + ${link.id}}"
                       th:text="${link.title}">
                        Title Goes Here
                    </a>
                    <span class="domain">(<a th:href="${link.url}"
                                             th:text="${link.getDomainName()}">therealdanvega.com</a>)</span>
                </p>
                <p class="tagline ">Publier
                    <time th:title="${link.getCreationDate()}"
                          th:datetime="${link.getCreationDate()}" class="live-timestamp"
                          th:text="${link.getPrettyTime()}">1 hour(s)</time> by
                    <!--<a th:href="@{'/u/' + ${link.getUser().getAlias()}}" class="author"-->
                       <!--th:text="${link.getUser().getAlias()}">therealdanvega</a>-->
                    <time th:title="${link.getCreationDate()}"
                          th:datetime="${link.getCreationDate()}" class="live-timestamp"
                          th:text="${link.getPrettyTime()}">1 hour(s)</time> by
                    <a href="/" class="author" th:text="${link.createdBy}">yosra</a>
                </p>

                <p>
                    <a th:href="@{'/link/' + ${link.id} + '#comments'}"
                       class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas facomments"></i> 0 comments</a>
                    <a href="/" class="share"><i class="fas fa-share-square"></i>
                        share</a>
                </p>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">livres disponibles pour échange</li>
                </ol>
            </nav>
            <div class="row link" th:each="book : ${books}">

                <div class="col-1">
                    <div><a href="#" class="upvote" th:data-id="${book.id}"><i class="fas fa-arrow-up"></i></a></div>
                    <div><span th:id="|votecount-${book.id}|" class="votecount" th:text="${book.getVoteCount()}">0</span></div>
                    <div><a href="#" class="downvote" th:data-id="${book.id}" th:disabled="true"><i class="fas fa-arrow-down"></i></a></div>
                </div>
                <div class="col-11">
                    <p class="title">
                        <a class="title " th:href="@{'/book/' + ${book.id}}"
                           th:text="${book.title}">
                            Title Goes Here
                        </a>

                    </p>
                    <p class="tagline ">Publier
                        <time th:title="${book.getCreationDate()}"
                              th:datetime="${book.getCreationDate()}" class="live-timestamp"
                              th:text="${book.getPrettyTime()}">1 hour(s)</time> by
                        <a href="/" class="author" th:text="${book.createdBy}">yosra</a>
                        <!--<a th:href="@{'/u/' + ${book.getUser().getAlias()}}" class="author"-->
                           <!--th:text="${book.getUser().getAlias()}">therealdanvega</a>-->

                    </p>

                    <p>
                        <a th:href="@{'/book/' + ${book.id} + '#comments'}"
                           class="comments" th:text="|${book.getComments().size()} comments|"><i class="fas facomments"></i> 0 comments</a>
                        <a href="/" class="share"><i class="fas fa-share-square"></i>
                            share</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script sec:authorize="isFullyAuthenticated()">
    const allvotes = document.querySelectorAll(".upvote, .downvote");
    for(let i=0; i<allvotes.length; i++) {
        let className = allvotes[i].className;
        allvotes[i].addEventListener('click', function (event) {
            const direction = className === 'upvote' ? 1 : -1;
            const linkID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votecount-' + linkID);
            const voteSumValue = voteSum.innerHTML;
            fetch(`http://localhost:8080/vote/link/${linkID}/direction/${direction}/votecount/${voteSumValue}`)
                .then(response => response.json())
        .then(data => voteSum.innerHTML = data)
        .catch(err => console.error(err));
        });
    }
</script>

<script sec:authorize="isFullyAuthenticated()">
    const allvote = document.querySelectorAll(".upvote, .downvote");
    for(let i=0; i<allvote.length; i++) {
        let className = allvote[i].className;
        allvote[i].addEventListener('click', function (event) {
            const direction = className === 'upvote' ? 1 : -1;
            const bookID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votecount-' + bookID);
            const voteSumValue = voteSum.innerHTML;
            fetch(`http://localhost:8080/vote/book/${bookID}/direction/${direction}/votecount/${voteSumValue}`)
                .then(response => response.json())
                .then(data => voteSum.innerHTML = data)
                .catch(err => console.error(err));
        });
    }
</script>

</body>
</html>


