<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = ' BIBLIOPHILES TUNISIENS')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: navigation}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">
    <div class="row">
        <!-- links -->
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Liste des livres en ligne</li>
                </ol>
            </nav>
            <div class="row link" th:each="link : ${links}">

            <div class="col-1">
                <div><a href="#" class="upvote"><i class="fas fa-arrow-up"></i></a></div>
                <div><span class="votecount">3</span></div>
                <div><a href="#" class="downvote"><i class="fas fa-arrow-down"></i></a></div>
            </div>
            <div class="col-11">
                <p class="title">
                    <a class="title " th:href="@{'/link/' + ${link.id}}"
                       th:text="${link.title}">
                        Title Goes Here
                    </a>
                    <span class="domain">(<a th:href="${link.url}"
                                             th:text="${link.getDomainName()}">therealdanvega.com</a>)</span>
                </p>
                <p class="tagline ">publier
                    <!--<time title="Sat Mar 10 06:26:36 2018 UTC" datetime="2018-03-
                    10T06:26:36+00:00" class="live-timestamp">2 hours ago</time> by-->
                    <time th:title="${link.getCreationDate()}"
                          th:datetime="${link.getCreationDate()}" class="live-timestamp"
                          th:text="${link.getPrettyTime()}">1 hour(s)</time> by
                    <a href="/" class="author" th:text="${link.createdBy}">yosra</a>
                </p>

                <p>
                    <a th:href="@{'/link/' + ${link.id} + '#comments'}"
                       class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas facomments"></i> 0 comments</a>
                    <a href="/" class="share"><i class="fas fa-share-square"></i>
                        share</a>
                </p>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">livres disponibles pour échange</li>
                </ol>
            </nav>
            <div class="row link" th:each="book : ${books}">

                <div class="col-1">
                    <div><a href="#" class="upvote"><i class="fas fa-arrow-up"></i></a></div>
                    <div><span class="votecount">3</span></div>
                    <div><a href="#" class="downvote"><i class="fas fa-arrow-down"></i></a></div>
                </div>
                <div class="col-11">
                    <p class="title">
                        <a class="title " th:href="@{'/book/' + ${book.id}}"
                           th:text="${book.title}">
                            Title Goes Here
                        </a>

                    </p>
                    <p class="tagline ">publier
                        <!--<time title="Sat Mar 10 06:26:36 2018 UTC" datetime="2018-03-
                        10T06:26:36+00:00" class="live-timestamp">2 hours ago</time> by-->
                        <time th:title="${book.getCreationDate()}"
                              th:datetime="${book.getCreationDate()}" class="live-timestamp"
                              th:text="${book.getPrettyTime()}">1 hour(s)</time> by
                        <a href="/" class="author" th:text="${book.createdBy}">yosra</a>
                    </p>

                    <p>
                        <a th:href="@{'/book/' + ${book.id} + '#comments'}"
                           class="comments" th:text="|${book.getComments().size()} comments|"><i class="fas facomments"></i> 0 comments</a>
                        <a href="/" class="share"><i class="fas fa-share-square"></i>
                            share</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


